@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* --------- reset --------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
body{
  background-color: #05292E;
  color: white;
}
img{
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
ul{
  list-style: none;
}
input, button{
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}
button{
  border: none;
}
/* --------- app --------- */

.app{
  background-color: #05292E;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__header{
  width: 100%;
  background-image: url(https://external-preview.redd.it/xyW2KesWKs9UD39iQifVbjYmSZ03hm_pOGtV5uIHoHw.png?width=640&crop=smart&auto=webp&s=8882c0a9c5c42d65b51c830efa678acc4094416d);
  background-size: cover;
  background-position: 10px;
  background-position-x: 5px ;
  padding-bottom: 10px;
}
.app__title{ 
  text-align: center;
  padding: 20px;
}
.app__form{
  display: flex;
  justify-content: center;
}
.app__form-input{
  border-radius: 7px 0 0 7px;
}
.app__form-btn{
  color: inherit;
  background-color: #71A821;
  border-radius: 0 7px 7px 0;
  padding: 5px 15px;
}

.app__container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.app__error{
margin-top: 20px;

}